@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Space+Grotesk:wght@400;500;700&display=swap');

:root {
    --color01: #FAFAFA;
    --color02: #121212;
    --color03: #6D28D9;

    --linear-gradient: linear-gradient(90deg, #38BDF8, #6D28D9, #4C1D95);

    --font: 'Poppins', sans-serif;
}

body {
    font-family: var(--font);
    margin: 0;
    padding: 0;
    background: var(--color01);
    color: var(--color02);
}

.container {
    width: 100%;
}

.sub-container {
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color03);
    max-width: 900px;
    margin: 3rem auto;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.323);
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

.calculator {
    display: flex;
}

.calculator-container {
    width: 50%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.calculator-container h2 {
    font-size: 1.2rem;
    margin: 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-field {
    display: flex;
    flex-direction: column;
}

.input-field label {
    font-size: 1rem;
    color: var(--color02);
    font-weight: 500;
}

.input-field input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color03);
    color: var(--color02);
    font-size: 1rem;
    padding: 5px;
}

.input-field input:focus {
    outline: none;
}

.result {
    text-align: center;
}

.total {
    font-size: 2rem;
}

.calculate {
    background: var(--linear-gradient);
    border: none;
    padding: 10px;
    color: var(--color01);
    font-weight: bold;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.chart-container {
    width: 50%;
    margin: auto;
}

.plot-chart {
    display: none;
    height: 350px;
}

.image {
    display: block;
}

.image img {
    height: 350px;
    display: block;
    margin: auto;
}

footer {
    text-align: center;
}

footer p {
    color: var(--color02);
    font-weight: 500;
    font-size: 0.9rem;
}

footer a {
    text-decoration: none;
    color: var(--color03);
}

@media screen and (max-width: 1024px) {
    .sub-container {
        margin: 3rem 1.5rem;
    }
}

@media screen and (max-width: 725px) {
    .sub-container {
        border: none;
        box-shadow: none;
    }
    .calculator {
        display: flex;
        flex-direction: column;
    }
    .calculator-container {
        width: 100%;
    }
    .chart-container {
        width: 100%;
        margin-top: 2rem;
    }
}
